body{
	background: #A2D6FF;
}
.Activity {
	float: left;
	position: relative;
	margin: 2px;
	padding: 0;
	font: 12px;
	height: auto;
	width: 90%;
	background: #FAFAE9;
}

.avatarIcon {
	float: left;
	margin: 2px 5px 2px 2px;
	border: 1px;
	border-style: solid;
	padding: 0;
	width: 40px;
	height: 40px;
}

.contentContainer {
	width: 90%;
	background: #FAFAE9;
}

.activityIcon {
	float: left;
	width: 16px;
	height: 16px;
	margin: 2px;
}

.statusTxt {
	width: 80%;
	font-size
	,
	14px;
}

.UpdateStatusButton {
	width: 10%;
	height: 25px;
}

.LoginForm label,.Loginform input {
	float: left;
	margin-bottom: 10px;
}

.LoginForm label {
	width: 40%;
}

.Loginform input {
	width: 30%;
}

.LoginForm img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.LoginForm label {
	text-align: right;
	padding-right: 20px;
}

br {
	clear: left;
}

#StreamSelector {
  text-align: right;
  width: 90%;
}